# Поддерживаем только современные браузеры
> 0.5%
last 2 versions
Firefox ESR
not dead
not IE 11
not op_mini all
not ios < 13
not safari < 13
not samsung < 14
not and_qq < 13
not baidu < 13
not kaios < 3
not and_uc < 15
