@font-face {
  font-family: 'SF Pro Display';
  src: url('@/assets/fonts/SFProDisplay-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('@/assets/fonts/SFProDisplay-Heavy.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('@/assets/fonts/SFProDisplay-Light.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('@/assets/fonts/SFProDisplay-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('@/assets/fonts/SFProDisplay-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('@/assets/fonts/SFProDisplay-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
